<hello name="{{ name }}"></hello>

<input type="text" #myInput/>
<button (click)='clickMe(myInput)'>Click Me</button>

<table>
  <thead>
    <th>Emp. Name</th>
    <th>Emp. Designation</th>
  </thead>
  <tbody>
    <tr *ngFor='let emp of EmployeeList'>
      <td>{{emp.name | titlecase}}</td>
      <td>{{emp.position | uppercase}}</td>
    </tr>
  </tbody>
</table>

<hr/>

<p>{{date}}</p>
<p>{{date | date:'dd-MM-yyyy'}}</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date:'shortDate'}}</p>
<p>{{date | date:'mediumDate'}}</p>
<p>{{date | date:'longDate'}}</p>

<hr/>

<p>{{date | date:'shortTime'}}</p>
<p>{{date | date:'mediumTime'}}</p>
<p>{{date | date:'longTime'}}</p>

<hr/>

<p *ngFor='let arr of myNewArry'>{{arr}}</p>
